.about_us
  @include container(100%)
  background-color: $lightgrey
  padding: 15px 0

.about_us_wrapper
  @include container(95%)

  .about_us_wrapper-sub
    @include container(100%)
    padding-bottom: 20px
    margin-bottom: 20px
    border-bottom: 1px solid $middlegrey

    .about_us--info
      @include span(12 of 12)
      margin-bottom: 20px

      h2
        margin-bottom: 25px
    .about_us--architecten
      @include span(12 of 12)

    .architect
        @include span(4 of 12)
          box-sizing: border-box
        padding: 0 5px
        h4
          text-align: center
        img
          border-radius: 50%
          height: 100%
          width: 100%
  .about_us--contact
    @include span(100%)

@media (min-width: $about_us-bp-medium)
  .about_us_wrapper
    .about_us_wrapper-sub
      @include span(8 of 12)
        border-bottom: 0
        border-right: 1px solid $middlegrey
        box-sizing: border-box
        padding-right: 15px
    .about_us--contact
      @include span(4 of 12)
