// colors
$basecolor: #fff
$lightgrey: #eeeeee
$lightgrey-opacity: rgba(238, 238, 238, 0.8)
$darkgrey: #757575
$darkgrey-opacity: rgba(117, 117, 117, 0.8)
$fontcolor: #212121

// fonts
$raleway: 'Raleway', Roboto, Arial, sans-serif

// breakpoints
$tablet: 440px
