footer
  @include container(100%)
  padding: 15px 0 10px 0
  background-color: $darkgrey
  color: $basecolor
  text-align: center
  font-size: 80%
  img
    width: 125px
    height: auto
    padding: 10px 0 20px 0
  a
    color: $basecolor
