.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: #fff
  padding-top: 30px
  margin-bottom: 50px
  height: 100px
  transition: height 0.3s

.logo
  float: left
  width: 10%
  text-align: center
  animation: SlideInTop 0.75s ease

.contact, .ons-werk
  float: left
  width: 40%
  margin: 0 2% 0 3%
  height: 100%
  text-align: center
  animation: SlideInTop 1s ease
  h1
    font-size: 1.3em
  a, a:visited
    padding: 3px 11px 3px 7px
    transition: all 0.25s
  a:hover, a:active
    background-color: $lightgrey
    border-radius: 5px
