%container
  margin-left: auto
  margin-right: auto
  &:after
    content: " "
    display: block
    clear: both

.portfolio
  max-width: 100%
  width: 100%
  @extend %container

.portfolio__item
  width: 100%
  margin: 0 auto
  margin-bottom: 30px
  position: relative

  a
    color: $fontcolor

  img
    width: 100%
    height: auto
    display: block

  &:hover .portfolio__item--info
    height: 35px


  @media (min-width: $portfolio-bp-medium) and (max-width: $portfolio-bp-large - 1)
    width: 45%
    float: left
    margin-left: 10%
    margin-bottom: 10%
    &:nth-child(2n-1)
      margin-left: 0

  @media (min-width: $portfolio-bp-large) and (max-width: $portfolio-bp-xlarge - 1)
    width: 30%
    float: left
    margin-left: 5%
    margin-bottom: 5%
    &:nth-child(3n-2)
      margin-left: 0

  @media (min-width: $portfolio-bp-xlarge) and (max-width: $portfolio-bp-xxlarge - 1)
    width: 20%
    float: left
    margin-left: 6.66667%
    margin-bottom: 6.66667%
    &:nth-child(4n-3)
      margin-left: 0

  @media (min-width: $portfolio-bp-xxlarge)
    width: 17%
    float: left
    margin-left: 3.75%
    margin-bottom: 3.75%
    &:nth-child(5n-4)
      margin-left: 0

.portfolio__item--info
  position: absolute
  box-sizing: border-box
  padding: 0 7px 0 7px
  bottom: 0
  overflow: hidden
  height: 0
  width: 100%
  transition: .3s ease
  color: $middlegrey
  background-color: rgba(0, 0, 0, 0.4)

  h2
    padding: 5px 0 0 0
    margin: 0
    font-size: .9em
