section.portfolio-info
  .details
    h2 Titel van het project
    p eventueel een korte inleiding over het project
    h2 Titel van het project
    p eventueel een korte inleiding over het project
    h2 Titel van het project
    p eventueel een korte inleiding over het project
    h2 Titel van het project
    p eventueel een korte inleiding over het project
    h2 Titel van het project
    p eventueel een korte inleiding over het project
