section.portfolio-content
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto3.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto3.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto3.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto4.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto3.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto4.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto3.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
  .portfolio-content-figure
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
  
