section.about_us
  .about_us--info
    h1 About us
    p. 
      Dit is een paragraaf met informatie over Werkhuis AM.
      Er zal een korte inleiding komen over de architecten.
    .architect 
      img(src="img/profiel.jpg")
      h4 Stephanie
    .architect.middle
      img(src="img/profiel.jpg")
      h4 Stephanie    
    .architect 
      img(src="img/profiel.jpg")
      h4 Stephanie
  .about_us--contact
    h1 Contact us
    p info@werkhuis-am.be
    p 09 333 33 33
    p
      | Werkhuisstraat 10
      br
      | 900 Gent
