footer
  .footer__wrapper
    img(src="img/werkhuis-am-footer.svg")(data-aos="slide-up")
    ul.inline-list
      li: a(href="#") Ons werk
      li: a(href="#") Contacteer Ons
    ul.inline-list
      li Werkhuisstraat 10
      li 9000 Gent
      li: a(href="#") 09 333 33 33
      
