footer
  .footer__wrapper
    ul.inline-list
      li: a(href="#") Ons werk
      li: a(href="#") Contacteer Ons
    ul.inline-list
      li: a(href="#") Werkhuisstraat 10
      li: a(href="#") 9000 Gent
      li: a(href="#") 09 333 33 33
      
