.header__mobile
  .logo
    a(href="/"): img(src='img/werkhuis-am.svg')
  .nav__mobile
    nav
      ul
        li: a(href='#') Ons werk
        li: a(href='#') Contact
.header
  .header__wrapper
    .header__div
      h1.text-left: a(href="#") Ons werk
    .header__div__logo
      a(href="/"): img(src='img/werkhuis-am.svg')
    .header__div.head__div__right
      h1.text-right: a(href="#") Contact
