head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Werkhuis AM
  meta(name='description', content='Dit is de website van Werkhuis AM')
  link(rel='stylesheet', href='css/main.css')
