.header__mobile
  .logo
    a(href="/"): img(src='img/werkhuis-am-logo.svg')
  .nav__mobile
    nav
      ul
        li: a(href='#') werk
        li: a(href='#') contact
.header
  .header__wrapper
    .header__div
      h1.text-left: a(href="port.html") werk
    .header__div__logo
      a(href="/"): img(src='img/werkhuis-am-logo.svg')
    .header__div.head__div__right
      h1.text-right: a(href="#") contact
  
