section.portfolio
  .portfolio__item
    a(href="#"): img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto3.jpg")
  .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto4.jpg")
  .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto5.jpg")
  .portfolio__item
    h2 eerste foto 2
  .portfolio__item
    h2 foto
  .portfolio__item
    h2 foto
  .portfolio__item
    h2 laatste foto 
  .portfolio__item
    h2 eerste foto 3
  .portfolio__item
    h2 foto
  .portfolio__item
    h2 foto
  .portfolio__item
    h2 laatste foto 
  .portfolio__item
    h2 eerste foto 4
  .portfolio__item
    h2 foto
  .portfolio__item
    h2 foto
  .portfolio__item
    h2 laatste foto
