.subinfo


section.portfolio

  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto3.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto3.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto3.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto3.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto3.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto3.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
