section.portfolio
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
  a(href="#"): .portfolio__item
    img(src="img/2015_nathalie_wetteren_foto1.jpg")
    .portfolio__item-info 
      h3 Titel van het project
      p korte beschrijving van het project
