section.portfolio
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto1.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
        p wat korte uitleg over de kenmerken van de werken
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto1.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
        p wat korte uitleg over de kenmerken van de werken
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto1.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
        p wat korte uitleg over de kenmerken van de werken
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto1.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
        p wat korte uitleg over de kenmerken van de werken
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto1.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
        p wat korte uitleg over de kenmerken van de werken
  .portfolio__item
    a(href="#")
      img(src="img/2015_nathalie_wetteren_foto1.jpg")
      .portfolio__item--info
        h2 Een titel van een eerste project
        p wat korte uitleg over de kenmerken van de werken
