// index
doctype html
html(lang="nl")
  include pug/_head.pug

  body  
    include pug/_header.pug
    
    .site__container
      
      include pug/_portfolio.pug
      
      include pug/_about_us.pug
      
      include pug/_footer.pug
    script(src="js/vendor.js")
    script AOS.init({duration: 600,});
