// index
doctype html
html(lang="nl")
  include pug/_head.pug

  body  
    include pug/_header.pug
    
    .site__container
      .portfolio__container
      
        include pug/page/_portfolio-info.pug
        
        include pug/page/_portfolio-content.pug
        
    include pug/_footer.pug
