@charset "UTF-8";
// main scss file

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/2,
  gutter-position: split,
);

@import 'sass/config';
@import 'sass/reset';
@import 'sass/base';
@import 'sass/grid';
@import 'sass/header';
@import 'sass/portfolio';
@import 'sass/about_us';
@import 'sass/footer';
